{extend name="public/base" /}
{block name="title"}联系我们{/block}
{block name="load"}
<!-- css -->
<!-- js -->
{/block}
<!-- 主体内容 -->
{block name="main"}

<!-- 中间内容开始 -->
<script>
  // 轮播图
  slides(6);
</script>
<div class="">
  <div class="row">
    <!--内容-->
    <div id="ctl00_cphMain_ContentDiv" class="">
      <div class="product_3">
        <div style="text-align: left; line-height: 2">
          <div class="pageContent">
            <div>

              <div class="div_dcon">
                <div class="content">
                  <div class="div_wselx">

                    <br>
                    <br>
                    <br>
                    <table border="0" style="width: 100%">
                      <tbody>
                        <tr>
                          <td>
                            <p>
                              <span style="font-size: 18px"><strong>广州</strong></span>
                            </p>

                            <p>
                              <span style="font-size: 16px">广州白云区鹤边一横路国妆大厦607号<br />
                                联系电话：13802418534</span>
                            </p>
                          </td>
                          <td>
                            <p>
                              <span style="font-size: 18px"><strong>深圳</strong></span>
                            </p>

                            <p>
                              <span style="font-size: 16px">深圳宝安福永福围第二工业区A10栋102号<br />
                                联系电话：13802781385</span>
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <br>
                    <br>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!--中间内容 结束-->
{/block}